h1 {
color: black;
}

p{
  color: black;
}

body {
background-image:url("./images/de bubbles.jpg");
}

.navbar li {
  color: black;
  display: inline-block;

.navbar {
  background-image:url("./images/SqfO6KA.gif")
}
